In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("clintox.csv.gz", compression="gzip")

In [3]:
df

                                                 smiles  FDA_APPROVED  CT_TOX
0               *C(=O)[C@H](CCCCNC(=O)OCCOC)NC(=O)OCCOC             1       0
1     [C@@H]1([C@@H]([C@@H]([C@H]([C@@H]([C@@H]1Cl)C...             1       0
2     [C@H]([C@@H]([C@@H](C(=O)[O-])O)O)([C@H](C(=O)...             1       0
3     [H]/[NH+]=C(/C1=CC(=O)/C(=C\C=c2ccc(=C([NH3+])...             1       0
4     [H]/[NH+]=C(\N)/c1ccc(cc1)OCCCCCOc2ccc(cc2)/C(...             1       0
...                                                 ...           ...     ...
1479                                         O[Si](=O)O             1       0
1480                                           O=[Ti]=O             1       0
1481                                             O=[Zn]             1       0
1482                                      OCl(=O)(=O)=O             1       0
1483                                           S=[Se]=S             1       0

[1484 rows x 3 columns]